---
- name: install lazylibrarian on docker1
  hosts: docker1.srv.3fr.uk
  gather_facts: false
  tasks:
    - community.docker.docker_container:
        name: lazylibrarian
        image: lscr.io/linuxserver/lazylibrarian:latest
        pull: true
        hostname: lazylibrarian
        restart_policy: always
        networks:
          - name: infra
        env:
          PUID: "1000"
          PGID: "1000"
          TZ: "Europe/London"
        volumes:
          - lazylibrarian_data:/config
          - /data/media/downloads:/data/media/downloads
          - /data/shared/eBooks:/data/shared/eBooks
        labels:
          caddy: lazylibrarian.home.thunderweb.uk
          caddy.import_0: httpauth
          caddy.import_1: accesslogs
          caddy.reverse_proxy: !unsafe "{{ upstreams 5299 }}"
    - name: Create lazylibrarian.home.thunderweb.uk CNAME
      delegate_to: localhost
      ansible.builtin.uri:
        url: https://dns.srv.3fr.uk/api/zones/records/add
        method: POST
        body_format: form-urlencoded
        body:
          token: "{{ dns_token }}"
          domain: lazylibrarian.home.thunderweb.uk
          type: CNAME
          cname: "{{ inventory_hostname }}"
          overwrite: true
        status_code: 200