---
- name: install icloudpd on nas1
  hosts: nas1.srv.3fr.uk
  gather_facts: false
  tasks:
    - community.docker.docker_container:
        name: icloudpd
        image: boredazfcuk/icloudpd:latest
        pull: true
        hostname: icloudpd
        restart_policy: always
        volumes:
          - icloudpd_config:/config
          - /data/icloud/photos:/home/scott/iCloud
        env:
          TZ: "Europe/London"
