---
- name: Install Wazuh Agent
  hosts: wazuhagents, swarm, cctv.srv.3fr.uk
  become: true

  tasks:
  - name: Download the installation package
    get_url:
      url: https://packages.wazuh.com/4.x/apt/pool/main/w/wazuh-agent/wazuh-agent_4.14.1-1_amd64.deb
      dest: ~/wazuh-agent_4.14.1-1_amd64.deb

  - name: Install Wazuh
    shell: WAZUH_MANAGER='wazuh.srv.3fr.uk' dpkg -i ~/wazuh-agent_4.14.1-1_amd64.deb

  - name: Cleanup installation package
    file:
      path: ~/wazuh-agent_4.14.1-1_amd64.deb
      state: absent

  - name: Start service
    systemd:
      name: wazuh-agent
      enabled: true
      state: started
      daemon_reload: true

  - name: copy DockerListener to host
    ansible.builtin.copy:
      src: ../files/wazuh/DockerListener
      dest: /var/ossec/wodles/docker/DockerListener
      owner: root
      group: wazuh
      mode: '0750'

  - name: copy rootkit_trojans.txt to host
    ansible.builtin.copy:
      src: ../files/wazuh/rootkit_trojans.txt
      dest: /var/ossec/etc/shared/rootkit_trojans.txt
      owner: wazuh
      group: wazuh
      mode: '0600'

  - name: copy install.sh to host
    ansible.builtin.copy:
      src: ../files/wazuh/install.sh
      dest: /root/install.sh
      owner: root
      group: wazuh
      mode: '0750'

  - name: restart Wazuh
    #shell: /root/install.sh
    systemd:
      name: wazuh-agent
      enabled: true
      state: restarted
      daemon_reload: true    
