---
- name: Install Wazuh Agent
  hosts: vps1.thunderweb.uk , vps2.thunderweb.uk
  become: true

  tasks:
  - name: copy DockerListener to host
    ansible.builtin.copy:
      src: ../files/wazuh/DockerListener
      dest: /var/ossec/wodles/docker/DockerListener
      owner: root
      group: wazuh
      mode: '0750'

  - name: copy rootkit_trojans.txt to host
    ansible.builtin.copy:
      src: ../files/wazuh/rootkit_trojans.txt
      dest: /var/ossec/etc/shared/rootkit_trojans.txt
      owner: wazuh
      group: wazuh
      mode: '0600'

  - name: copy install.sh to host
    ansible.builtin.copy:
      src: ../files/wazuh/install.sh
      dest: /root/install.sh
      owner: root
      group: wazuh
      mode: '0750'

  - name: restart Wazuh
    #shell: /root/install.sh
    systemd:
      name: wazuh-agent
      enabled: true
      state: restarted
      daemon_reload: true    
