---
- name: Install Wazuh Agent
  hosts: vps1.thunderweb.uk , vps2.thunderweb.uk
  become: true

  tasks:
  - name: copy DockerListener to host
    ansible.builtin.copy:
      src: ../files/wazuh/DockerListener
      dest: /var/ossec/wodles/docker/DockerListener
      owner: root
      group: wazuh
      mode: '0750'

  - name: copy install.sh to host
    ansible.builtin.copy:
      src: ../files/wazuh/install.sh
      dest: /root/install.sh
      owner: root
      group: wazuh
      mode: '0750'

  - name: Install Wazuh
    shell: /root/install.sh
