---
- import_playbook: docker/auth_caddy_proxy.yml
- import_playbook: docker/auth_compose_updates.yml
- import_playbook: docker/dns_caddy_proxy.yml
- import_playbook: docker/docker0_caddy.yml
- import_playbook: docker/docker0_calibreweb.yml
- import_playbook: docker/docker0_changedetection.yml
- import_playbook: docker/docker0_compose_updates.yml
- import_playbook: docker/docker0_gitea.yml
- import_playbook: docker/docker0_homarr.yml
- import_playbook: docker/docker0_mariadb.yml
- import_playbook: docker/docker0_nextcloud.yml
- import_playbook: docker/docker0_openbooks.yml
- import_playbook: docker/docker0_pairdrop.yml
- import_playbook: docker/docker0_phpmyadmin.yml
- import_playbook: docker/docker0_prowlarr.yml
- import_playbook: docker/docker0_radarr.yml
- import_playbook: docker/docker0_reaparr.yml
- import_playbook: docker/docker0_registry.yml
- import_playbook: docker/docker0_seerr.yml
- import_playbook: docker/docker0_sonarr.yml
- import_playbook: docker/docker0_speedtest.yml
- import_playbook: docker/docker0_stash.yml
- import_playbook: docker/docker0_tautulli.yml
- import_playbook: docker/docker0_tools.yml
- import_playbook: docker/docker0_wordpress.yml
- import_playbook: docker/mgmt_caddy.yml
- import_playbook: docker/mgmt_portainer.yml
- import_playbook: docker/mgmt_sshwifty.yml
- import_playbook: docker/mini0_caddy_proxy.yml
- import_playbook: docker/mini0_compose_updates.yml
- import_playbook: docker/mini0_jellyfin.yml
- import_playbook: docker/monitoring_caddy_proxy.yml
- import_playbook: docker/monitoring_munin.yml
- import_playbook: docker/nas1_caddy.yml
- import_playbook: docker/nas1_duplicati.yml
- import_playbook: docker/nas1_icloudpd.yml
- import_playbook: docker/nas1_unpackerr.yml
- import_playbook: docker/nas1_zigbee2mqtt.yml
- import_playbook: docker/nodes_portainer_agent.yml
- import_playbook: docker/public_caddy_proxy.yml
- import_playbook: docker/public_cloudflared.yml
- import_playbook: docker/public_linkstack.yml
- import_playbook: docker/public_mariadb.yml
- import_playbook: docker/public_shlink.yml
- import_playbook: docker/vps_portainer_agent.yml
- import_playbook: docker/vps1_caddy_proxy.yml
- import_playbook: docker/vps1_compose_updates.yml
- import_playbook: docker/vps2_caddy_proxy.yml
- import_playbook: docker/vps2_coredns.yml
- import_playbook: docker/vps2_uptimekuma.yml
- import_playbook: docker_prune.yml
