---
- import_playbook: docker/auth_caddy_proxy.yml
- import_playbook: docker/auth_compose_updates.yml
- import_playbook: docker/cloudflare_cloudflared.yml
- import_playbook: docker/dns_caddy_proxy.yml
- import_playbook: docker/docker1_caddy_proxy.yml
- import_playbook: docker/docker1_calibreweb.yml
- import_playbook: docker/docker1_changedetection.yml
- import_playbook: docker/docker1_compose_updates.yml
- import_playbook: docker/docker1_coredns.yml
- import_playbook: docker/docker1_gitea.yml
- import_playbook: docker/docker1_homarr.yml
- import_playbook: docker/docker1_openbooks.yml
- import_playbook: docker/docker1_pairdrop.yml
- import_playbook: docker/docker1_registry.yml
- import_playbook: docker/docker1_speedtest.yml
- import_playbook: docker/docker1_sshwifty.yml
- import_playbook: docker/docker1_tools.yml
- import_playbook: docker/docker2_caddy_proxy.yml
- import_playbook: docker/docker2_compose_updates.yml
- import_playbook: docker/internal_dozzle_agent.yml
- import_playbook: docker/mgmt_caddy.yml
- import_playbook: docker/mgmt_compose_updates.yml
- import_playbook: docker/mgmt_dozzle.yml
- import_playbook: docker/mgmt_portainer.yml
- import_playbook: docker/monitoring_caddy_proxy.yml
- import_playbook: docker/monitoring_munin.yml
- import_playbook: docker/nas1_caddy.yml
- import_playbook: docker/nas1_duplicati.yml
- import_playbook: docker/nas1_icloudpd.yml
- import_playbook: docker/nas1_unpackerr.yml
- import_playbook: docker/nas1_zigbee2mqtt.yml
- import_playbook: docker/nodes_portainer_agent.yml
- import_playbook: docker/plex_caddy.yml
- import_playbook: docker/plex_jellyfin.yml
- import_playbook: docker/plex_overseerr.yml
- import_playbook: docker/plex_prowlarr.yml
- import_playbook: docker/plex_radarr.yml
- import_playbook: docker/plex_seerr.yml
- import_playbook: docker/plex_sonarr.yml
- import_playbook: docker/plex_tautulli.yml
- import_playbook: docker/public_caddy_proxy.yml
- import_playbook: docker/public_linkstack.yml
- import_playbook: docker/public_mariadb.yml
- import_playbook: docker/public_shlink.yml
- import_playbook: docker/vps_dozzle_agent.yml
- import_playbook: docker/vps_portainer_agent.yml
- import_playbook: docker/vps1_caddy_proxy.yml
- import_playbook: docker/vps1_compose_updates.yml
- import_playbook: docker/vps2_caddy_proxy.yml
- import_playbook: docker/vps2_coredns.yml
- import_playbook: docker/vps2_uptimekuma.yml
- import_playbook: docker/webapps_caddy_proxy.yml
- import_playbook: docker/webapps_compose_updates.yml
- import_playbook: docker/webapps_mariadb.yml
- import_playbook: docker/webapps_nextcloud.yml
- import_playbook: docker/webapps_phpmyadmin.yml
- import_playbook: docker/webapps_stash.yml
- import_playbook: docker/webdev_caddy_proxy.yml
- import_playbook: docker/webdev_mariadb.yml
- import_playbook: docker/webdev_phpmyadmin.yml
- import_playbook: docker/webdev_wordpress.yml
- import_playbook: docker_prune.yml
